<div class="col-md-3">
  <div class="list-group">
    <a href="staffs.html" class="list-group-item">スタッフ</a>
    <a href="markers.html" class="list-group-item">マーカー一覧</a>
    <a href="characters.html" class="list-group-item">キャラクター一覧</a>
    <a href="advertisings.html" class="list-group-item">広告</a>
  </div>
</div>
