<div class="col-md-3">
  <div class="list-group">
    <a href="staffs.html" class="list-group-item">スタッフ</a>
    <a href="advertisings.html" class="list-group-item">広告管理</a>
    <a href="data.html" class="list-group-item">データ閲覧</a>
    <a href="markers.html" class="list-group-item">マーカー管理</a>
  </div>
</div>
