<div class="col-md-3">
  <div class="list-group">
    <a href="admin-administrators.html" class="list-group-item">管理者</a>
    <a href="admin-companies.html" class="list-group-item">企業</a>
    <a href="admin-staffs.html" class="list-group-item">スタッフ</a>
    <a href="admin-markers.html" class="list-group-item">マーカー</a>
    <a href="admin-characters.html" class="list-group-item">キャラクター</a>
    <a href="admin-advertisings.html" class="list-group-item">広告</a>
  </div>
</div>
