<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body  class="login admin-login">
    <form class="form-signin">
      <h2 class="form-signin-heading">sagascope 管理者ログイン</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Login ID" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </body>
</html>
