<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header-admin.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar-admin.ejs %>
        <div class="col-md-9">
          <table class="table">
            <thead>
              <tr>
                <th>項目</th>
                <th>内容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ID</th>
                <td>0</td>
              </tr>
              <tr>
                <th>キャラクタ名</th>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <th>企業</th>
                <td>
                  <select class="form-control">
                    <option>○○社</option>
                    <option>○○○社</option>
                    <option>○○○○社</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>サムネイル</th>
                <td>
                  <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png"><br>
                  <input type="file">
                </td>
              </tr>
              <tr>
                <th>キャラクタ情報URL</th>
                <td>
                  http://codeforfukui.github.io/meganehack<br>
                  <input type="file">
                </td>
              </tr>
            </tbody>
          </table>
          <a href='' class="btn btn-default">更新</a>
          <button type="button" class="btn btn-danger">削除</button>
        </div>
      </div>
    </div>
  </body>
</html>
