<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header-admin.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar-admin.ejs %>
        <div class="col-md-9">
          <div class="container-fluid" align="right" style="margin-bottom: 20px;">
            <a href="admin-staff-detail.html" class="btn btn-primary">新規追加</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>キャラクタ名</th>
                <th>サムネイル</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<10; i++) { %>
                <tr>
                  <td><%= i %></td>
                  <td>たろう</td>
                  <td><img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png"></td>
                  <td align='right'>
                    <a href='admin-character-detail.html' class="btn btn-default">詳細</a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
