<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar.ejs %>
        <div class="col-md-9">
          <div class="container-fluid" align="right" style="margin-bottom: 20px;">
            <a href="advertising-detail.html" class="btn btn-primary">新規追加</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>リンク先</th>
                <th>広告バナー</th>
                <th>リーチ数</th>
                <th>インプレッション数</th>
                <th>有効 / 無効</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="advertisings">
              <% for(var i=0; i<10; i++) { %>
                <tr>
                  <td><%= i %></td>
                  <td>http://codeforfukui.github.io/meganehack/</td>
                  <td><img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png"></td>
                  <td><%= i %></td>
                  <td><%= i %></td>
                  <td>有効</td>
                  <td align='right'>
                    <a href='' class="btn btn-default">無効にする</a>
                    <a href='advertising-detail.html' class="btn btn-primary">編集</a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
