<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar.ejs %>
        <div class="col-md-9">
          <div class="jumbotron">
            <h1>sagascope admin</h1>
            <p>サガスコープの管理画面</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
