<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body class="login">
    <div class="container">
      <div class="alert alert-success" role="alert">メッセージはこういうふうに表示してください</div>
    </div>
    <form class="form-signin">
      <h2 class="form-signin-heading">sagascope ログイン</h2>
      <label class="sr-only">Login ID</label>
      <input type="text" class="form-control" placeholder="Login ID" required autofocus>
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </body>
</html>
