<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar.ejs %>
        <div class="col-md-9">
          <div class="jumbotron">
            <h1>○○社 管理画面</h1>
            <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png">
            <p>キャラクター表示回数 : 100 / 全体広告インプレッション数 : 100</p>
          </div>
          <div class="container-fluid" align="right" style="margin-bottom: 20px;">
            <a href="marker-new.html" class="btn btn-primary">マーカーを新規追加</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>マーカーサムネイル</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<10; i++) { %>
                <tr>
                  <td><%= i %></td>
                  <td>
                    <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png">
                  </td>
                  <td align='right'>
                    <a href='marker-advertisings.html' class="btn btn-default">マーカーに紐付いた広告一覧</a>
                    <button type="button" class="btn btn-danger">削除</button>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
