<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar.ejs %>
        <div class="col-md-9">
          <div class="jumbotron">
            <h1>○○社 管理画面</h1>
            <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png">
            <p>キャラクター表示回数 : 100 / 全体広告インプレッション数 : 100</p>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>広告バナー</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<10; i++) { %>
                <tr>
                  <td><%= i %></td>
                  <td>
                    <a href="advertising-data.html">
                      <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png">
                    </a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
