<!DOCTYPE html>
<html>
  <% include ./templates/head.ejs %>
  <body>
    <% include ./templates/header.ejs %>
    <div class="container content">
      <div class="row">
        <% include ./templates/sidebar.ejs %>
        <div class="col-md-9">
          <table class="table">
            <thead>
              <tr>
                <th>項目</th>
                <th>内容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>マーカー画像</th>
                <td>
                  <input type="file">
                </td>
              </tr>
            </tbody>
          </table>
          <a href='' class="btn btn-default">追加</a>
        </div>
      </div>
    </div>
  </body>
</html>
